
<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Transaction details</h5>
              <div><b>createdDate : </b><p>{{transaction?.transaction?.createdDate[2]}}/{{transaction?.transaction?.createdDate[1]}}/{{transaction?.transaction?.createdDate[0]}}</p></div>
              <div><b>idTransaction : </b><p>{{transaction?.transaction?.id}}</p></div>
              <div><b> amount of the transaction : </b><p>{{transaction?.transaction?.amount}}</p></div>
              <div><b>validity of the transaction : </b><p>{{transaction?.transaction?.active}}</p></div>
              <div> <b>sender : </b><p>{{transaction?.account}}</p></div>
              <div> <b>recipient: </b><p>{{transaction?.recipientRib}}</p></div>
              <div> <b>recipient full Name: </b><p>{{transaction?.recipient?.firstname}} {{transaction?.recipient?.lastname}}</p></div>
              <div> <b>recipient email: </b><p>{{transaction?.recipient?.email}}</p></div>
              <div> <b>recipient tel: </b><p>(+212){{transaction?.recipient?.numtel}}</p></div>
              <div> <b>recipient adress: </b><p>{{transaction?.recipient?.adress}}</p></div>
              <span style="margin: auto;"><button type="button" class="btn btn-success btn-lg" style="width: 49%; margin-right: 1px;" (click)="validerTransaction()">Validate transaction</button>
              <button type="button" class="btn btn-secondary btn-lg btn-danger" style="width: 49%; margin-left: 1px;"(click)="removeTransaction()">Delete transaction</button></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>